@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--pink: #FB358C;
	--teal: #1CFAD5;
	--violet: #7958C3;
	--blue: #06B3F5;
	--light: #eee;
	--dark: #092342;
}

body {
	background-color: #fefefe;
	font-family: 'Montserrat', sans-serif;
}

.flex {
	display: flex;
}

.center{
	align-items: center;
	justify-content: space-between;
	vertical-align: middle;
}

.text.dark {
	color: var(--dark)
}

.text.pink {
	color: var(--pink)
}

.text.boldest {
	font-weight: 900;
}

.logo{
	height: 5rem;
}

.container {
	padding: 5%;
}

nav .container {
	padding: 0 5%;
}

.main-text {
	font-size: 2.5rem;
	color: var(--dark);
	font-weight: 900;
}

.secondary-text {
	font-size: 2rem;
	color: var(--pink);
}

.text-center {
	text-align: center;
}

button {
	padding: 1rem;
	border-radius: 2rem;
	border: none;
	color: white;
	background-color: var(--pink);
	font-weight: bold;
}