@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--pink: #FB358C;
	--cyan: #1CFAD5;
	--violet: #7958C3;
	--blue: #06B3F5;
	--light: #eee;
	--dark: #092342;
	--darkt: #092342dd;
	--gradient: linear-gradient(to right, var(--pink), var(--cyan), var(--violet), var(--blue));
}

body {
	font-family: 'Montserrat', sans-serif;
}

html {
  text-align: center;
}

header, section, footer {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  background-color: var(--pink);
  color: white;
  font-weight: bold;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  max-width: 12rem;
  margin: auto;
  text-align: center;
  transition: 0.3s;
}

a:hover {
  background-color: var(--cyan);
  color: var(--dark);
  cursor: pointer;
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 700px){

  .row {
    display: flex;
  }
}

@media (min-width: 1000px){
  html {
    text-align: left;
  }

  .big-row {
    display: flex;
  }

  header, section {
    padding: 3rem 15%;
  }
  
}


@keyframes fadeIn {
  0% { 
    opacity: 0; 
    transform: scale(0.5);
  }
  100% { 
    opacity: 1; 
    transform: scale(1);
  }
}

@keyframes fadeLeft {
  0% { 
    opacity: 0; 
    transform: scale(0.5);
    transform: translateX(-10rem);
  }
  100% { 
    opacity: 1; 
    transform: scale(1);
  }
}

@keyframes fadeRight {
  0% { 
    opacity: 0; 
    transform: scale(0.5);
    transform: translateX(10rem);
  }
  100% { 
    opacity: 1; 
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-left {
  animation: fadeLeft 0.5s ease-in-out;
}

.fade-right {
  animation: fadeRight 0.5s ease-in-out;
}